:root{$primaryColor: #142d4c;
  $secondaryColor: #385170;
  $backgroundColor: #9fd3c7;
  $cardBackgroundColor: #ececec;
  $cardBorderColor: #142d4c;
  $textColor: #333333;
  $textBodyColor:  #7c6c6c;
  $hoverBackground: yellow;}