.topnav {
  background-color: #142d4c;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:  #ececec;
  color: black;
}

.topnav a.active {
  background-color: #385170;
  color: white;
}

.topnav .icon {
  display: none;
}

/* ... Existing styles ... */

/* Avatar Dropdown styles */
.avatarDropdown {
  position: relative;
  float: right;
  float: right;
  display: flex; /* Display as flex to align items horizontally */
  align-items: center;
}

.avatar {
  cursor: pointer;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.avatar:hover + .dropdownContent {
  display: block;
}

.dropdownContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #ececec;
}
